// Specific CSS for your home-page
body{
  background-color:#ECF8F9;
  color: #E55807;
}


h1 {
  color: #7E1717;

}

h2 {
  color: #27374D;
}
a {
  text-decoration: none;
}

.card-text{
  color: #27374D;
}
