.navbar-lr {
  justify-content: space-between;
  // background-color: #068ea91f;
  // box-shadow: 0 10px 30px rgba(0,0,0,.11);
  height: auto;
  border-bottom: 1px solid rgba(211, 211, 211, 0.401);


  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 180px;
  }

  .logo-image {
    margin-left: 100px;
    width: 40px; /* Ajuste o valor conforme necessário */
    height: 60px; /* Ajuste o valor conforme necessário */
    /* Outros estilos que você desejar aplicar à logo */
  }

  .user-photo {
    margin-right: 100px;
    width: 40px; /* Ajuste o valor conforme necessário */
    height: auto; /* Ajuste o valor conforme necessário */
    border-radius: 50%; /* Para tornar a foto redonda, se desejado */
    /* Outros estilos que você desejar aplicar à foto do usuário */
  }
}
